{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "parser": "babylon",
    "printWidth": 120,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false
}
